
//# is for IDs
#hello{
	color: #red;
	
	
}


//periods for classes
.test{
	font-style:italic;
	
}


#first{
	border: 1px solid black;
	height: 200px;
	width:200px;
}

#second{
	border: 1px dashed red;
	height: 300px;
	width:300px;
}