@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Yantramanav&display=swap');

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

h1,h2,h3{
	font-family: 'Yantramanav', sans-serif;
}

p, span{
    font-family: 'Source Sans Pro', sans-serif;
	
}

p{
	color:black;
}

#isu_logo{
	width: 15%;
}


#mastercontainer{
	position:relative;
}
#mobilenavbar{
	display:none;
}

@media (max-width: 768px){
	#mobilenavbar{
	display:block;
	position:absolute;
	top:0;
	right:20px;
	cursor:pointer;
	}

	#navbar{
	display:none;
	}
}




